{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Bamboo{% endblock %}

{% block page_content %}
<body style="background-color: #F5F5F5"></body>
<div class="page-header col-md-10 col-md-push-1">
    <div class="col-md-3 text-center panel panel-default no-padding">
        <div class="panel-body no-padding" >
            {% if current_user.is_authenticated %}
                <img class="img-circle" src="{{ current_user.gravatar(size=128) }}">
                <div class="page-header has-margin">
                    <h4>{{ current_user.username }}</h4>
                </div>
                <div class="btn-group-vertical btn-block no-radius">
                    <a href="{{ url_for('main.user', username=current_user.username) }}">
                        <button type="button" class="btn btn-default btn-block my-btn">个人主页</button>
                    </a>
                    {% if current_user.can(Permission.WRITE_ARTICLES) %}
                    <a href="{{ url_for('main.release') }}">
                        <button type="button" class="btn btn-default btn-block my-btn">发布文章</button>
                    </a>
                    {% endif %}
                </div>
            {% else %}
                <div class="page-header">
                    <h4>Hello, Stranger!</h4>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="post-tabs">
                    <ul class="nav nav-tabs">
                        <li {% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">All</a></li>
                        {% if current_user.is_authenticated %}
                        <li {% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">Followers</a></li>
                        {% endif %}
                    </ul>
                    {% include '_posts.html' %}
                </div>
                {% if pagination %}
                <div class="pagination">
                    {{ macros.pagination_widget(pagination, '.index') }}
                </div>
                {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
